.container {
    overflow-x: auto;
    color: #222;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #eee;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    line-height: 1.5;

}