.section__header {
    text-align: center;
    color: #2D6B97;
}

.section__image {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    padding: 10px;
    border-radius: 6%;
}

.section__button {
    display: block;
    margin: 0 auto;
    border-radius: 5%;
    padding: 10px;
    background-color: #2D6B97;
    border: none;
    color: #eee;
    font-family: 'Montserrat', sans-serif;
}

.section__button:hover {
    background-color: #00B3CD;
}

.section__button:active {
    background-color: #5afbd9;
}