.cialo{
    font-family: Arial;
    background-color: aliceblue;
}
.pierwszy {
    text-align: center;

}

.drugi {
    text-align: center;
}

.zainteresowania {
    text-align: center;
    background-color: rgb(180, 123, 234);
    margin-left: 0px;
}

.dupa {
    margin: 0%;
    background-color: rgb(180, 123, 234);
}

.akapit2{
    color: rgb(6, 6, 6)
}